/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* General Styles */
button {
    width: 120px;
    padding: 10px;
    background: transparent;
    border-radius: 15px;
    border: 2px solid #fff;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: brown;
}

button a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

button a:hover {
    color: white;
    transition: 0.5s ease-in;
}

/* Header */
.header {
    height: 100%;
    text-align: center;
    background: url(./asset/hero.jpg) no-repeat center;
    position: relative;
    background-size: cover;
    z-index: 2;
}

.header::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(31, 20, 17, 0.6);
    z-index: -1;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
}

.logo img {
    height: 50px;
    width: 50px;
}

.menu ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
}

.menu ul li a::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: 0.3s ease-in;
}

.menu ul li a:hover::before {
    width: 100%;
    background: orangered;
}

.not {
    display: flex;
    gap: 10px;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}

/* Hero Section */
.hero {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: bounce2;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

.hero .content h1 {
    font-size: 50px;
    color: white;
    padding-bottom: 20px;
}

/* About Section */
.about {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

.image img {    
    animation-name: bounce;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    height: 200px;
    width: 200px;
}

.content {
    width: 70%;
    padding: 20px;
}

.content h1 {
    font-size: 25px;
    padding-bottom: 10px;
}

.content h2 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.about button {
    color: brown;
    border-color: brown;
}

.about button:hover {
    color: #fff;
    background-color: brown;
}

.about button a {
    color: white;
}

.banner {
    background: url(./asset/1.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100px;
    align-items: center;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    margin: 50px 0;
    padding: 20px;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(31, 20, 17, 0.6);
    z-index: -1;
}

.banner h1 {
    font-size: 50px;
    color: white;
    padding-left: 50px;
}

.banner button {
    margin: 0 50px;
}

/* Testimonials */
.testimony {
    animation-name: bounce;
    animation-duration: 2;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    margin-top: 50px;
    justify-content: center;
}

.title h1 {
    font-size: 40px;
    font-family: system-ui, sans-serif;
    text-align: center;
    font-weight: 400;
}

.testimonials {
    height: auto;
    padding: 30px;
    background: linear-gradient(rgba(211, 211, 211, 0.1), rgba(255, 97, 97, 0.1));
}

.test {
    display: flex;
    justify-content: center;
}

.testi {
    align-items: center;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.testimo {
    margin-left: 20px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    animation: bounce 5s ease-in infinite;
}

.testimo h2 {
    padding-bottom: 10px;
}

/* Notification Card */
.card {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 300px;
    padding: 40px;
    background: linear-gradient(rgb(202, 102, 34), rgb(255, 104, 104));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-in;
    visibility: hidden;
    opacity: 0;
}

.card.active {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.card .notification, 
.card .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .notification h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.card .text h2, h1{
    text-align: center;
}

.card .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.card .close img {
    width: 25px;
    color: #fff;
}



/* Video Section */
.vidi {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.sermon .title h1 {
    font-size: 30px;
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
}

.container {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid rgb(192, 192, 192);
    box-shadow: 0px 2px 5px #d1d1d1;
}

.vid {
    padding-right: 10px;
}

.container .text {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}

.text a {
    color: black;
    text-decoration: none;
}

.text p {
    padding-top: 5px;
    font-size: 20px;
}


/* Footer */
footer {
    padding: 20px;
    background-color: rgb(88, 19, 19);
    backdrop-filter: blur(20px);
    color: #fff;
    text-align: center;
}

footer .text h1 {
    font-size: 20px;
    padding: 5px;
}

footer .socials img {
    padding: 5px;
    height: 30px;
}

/*About Us Page*/
.aboutus{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    padding: 50px;
    animation: bounce 7s ease-in infinite;
}
.aboutus .img img{
    width: 250px;
    border-radius: 20px;
}

.text h1{
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
}

span{
    font-size: 020px;
}

.text{
    margin: 20px;
    align-content: center;
}

.symbols{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffeeee;
}

.symbols h1{
 font-size: 30px;
}

.text h2{
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
}

.contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
}

.box{
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid rgb(225, 225, 255);
}

.box h2{
    padding: 20px;
}


.box img{
    animation: bounce 7s ease-in infinite;
    width: 100px;
    border: 2px solid rgb(255, 172, 172);
    border-radius: 100%;
    padding: 20px;
    background-color: #fff7f7;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu,
    .not {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu.active,
    .not.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
    

    .hero .content h1 {
        font-size: 30px;
        text-align: center;
    }

    .about {
        display: contents;
    }

    .about .image {
        margin-top: 50px;
        text-align: center;
    }

    .about .content {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .banner h1 {
        font-size: 30px;
        padding-left: 10px;
        text-align: left;
    }

    .banner button {
        margin: 0 auto;
    }

    .testi {
        align-items: center;
        justify-content: center;
        flex-direction: flex;
    }

    .testimo {
        margin-left: 0;
        font-size: 12px;
        width: auto;
    }

    .container {
        justify-content: center;
        display: block;
    }

    .container .text {
        font-size: 20px;
        font-weight: 500;
        padding-left: 0;
    }

    iframe {
        width: 90%;
    }

    .vidi{
        padding-top: 10px;
        grid-template-columns: 1fr;   
    }

    .aboutus{
        display: block;
        text-align: center;
        padding: 10px;
    }

    footer .text h1 {
    font-size: 15px;
    padding: 5px;
    }

    .contain{
        display: block;
    }

    .text h2{
        text-align: center;
    }

    .contain{
        width: 100%;
    }

}

/*Animations*/

@keyframes slideInleft{
    from{
        transform: translateX(-300px)
    }

    to{
        transform: translateX(0px);
    }
}

@keyframes bounce{
    0%{
        transform: translateY(0px)
    }

    50%{
        transform: translateY(20px);
    }
}

@keyframes bounce2{
    0%{
        transform: translateY(0px)
    }

    50%{
        transform: translateY(10px);
    }
}

.hidden{
    opacity: 0;
}

.show{
    animation: slideInleft 1.5s ease-in;
    opacity: 1;
}
